services:
  db:
    image: postgres:15-alpine
    container_name: music-db
    environment:
      POSTGRES_DB: musicdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: music-backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/musicdb
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontapp
    container_name: music-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  postgres_data: