<div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Add new track</h1>
    <form [formGroup]="trackForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <input 
            type="text" 
            formControlName="title" 
            placeholder="Title" 
            class="trck-forminput"
        />
        <textarea 
            formControlName="description" 
            placeholder="Description" 
            class="trck-forminput resize-none h-24"
        ></textarea>
        <input 
            type="text" 
            formControlName="artist" 
            placeholder="Artist" 
            class="trck-forminput"
        />
        <select 
            formControlName="genre"
            class="trck-forminput bg-white"
        >
            <option value="" disabled selected>Select Genre</option>
            <option value="rap">Rap</option>
            <option value="cha3bi">Cha3bi</option>
        </select>
        <div class="space-y-2">
    <label class="block text-sm font-medium text-gray-700">Cover Image</label>
    <input 
        type="file" 
        (change)="onCoverSelected($event)" 
        accept="image/png, image/jpeg , image/jpg"
        class="w-full px-4 py-2 border border-gray-300 rounded-md file:mr-4 file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100"
    />
</div>
        <input 
            type="file" 
            (change)="onAudioSelected($event)" 
            accept="audio/*" 
            class="w-full px-4 py-2 border border-gray-300 rounded-md file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:bg-blue-500 file:text-white file:cursor-pointer hover:file:bg-blue-600"
        />
        <button 
            type="submit" 
            [disabled]="isSubmitting() || trackForm.invalid"
            class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors"
        >
            {{ isSubmitting() ? 'Submitting...' : (isEditMode() ? 'Update Track' : 'Add Track') }}

        </button>
    </form>
</div>